* {
  /* `otf-font-awesome` is required to be installed for icons */
  /* font-family: FontAwesome, Roboto, Helvetica, Arial, sans-serif; */
  font-size: 13px;
  border-radius: 7px;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#custom-wofi,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#power-profiles-daemon,
#mpd,
#language,
#custom-power,
#custom-nvidia,
#submap,
#window,
#workspaces {
  padding: 0 10px;
  color: #ebdbb2;
  margin-top: 10px;
}

window#waybar {
  background-color: transparent;
  border: 0px;
  color: #ebdbb2;
  transition-property: background-color;
  transition-duration: 0.5s;
}

window#waybar.hidden {
  opacity: 0.2;
}

#window {
  background-color: #665c54;
  color: #ebdbb2;
}

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #FFFFFF;
}
*/

window#waybar.termite {
  background-color: #3f3f3f;
}

window#waybar.chromium {
  background-color: #282828;
  border: none;
}

button {
  /* Use box-shadow instead of border so the text isn't offset */
  box-shadow: inset 0 -3px transparent;
  /* Avoid rounded borders under each button name */
  border: none;
  border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
/* button:hover { */
/*   background: inherit; */
/*   box-shadow: inset 0 -3px #ffffff; */
/* } */

#custom-wofi {
  /* font-size: 1.5em; */
}

/* you can set a style on hover for any module like this */

#workspaces button {
  padding: 0 5px;
  background-color: transparent;
  color: #ffffff;
}

#workspaces button:hover {
  background: rgba(0, 0, 0, 0.2);
}

#workspaces button.focused {
  background-color: #64727d;
  box-shadow: inset 0 -3px #ffffff;
}

#workspaces button.urgent {
  background-color: #fb4934;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
  margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
  margin-right: 0;
}

#clock {
  background-color: #687f70;
}

#clock:hover {
  background-color: #97a07c;
}

#battery {
  background-color: #ffffff;
  color: #282828;
}

#battery.charging,
#battery.plugged {
  color: #ffffff;
  background-color: #98971a;
}

@keyframes blink {
  to {
    background-color: #ffffff;
    color: #282828;
  }
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
  background-color: #f53c3c;
  color: #ffffff;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: steps(12);
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#power-profiles-daemon {
  padding-right: 15px;
}

#power-profiles-daemon.performance {
  background-color: #f53c3c;
  color: #ffffff;
}

#power-profiles-daemon.balanced {
  background-color: #2980b9;
  color: #ffffff;
}

#power-profiles-daemon.power-saver {
  background-color: #2ecc71;
  color: #665c54;
}

label:focus {
  background-color: #282828;
}

#cpu {
  background-color: #c66829;
  margin-right: 5px;
}

#cpu:hover {
  background-color: #fe8028;
}

#memory {
  background-color: #fb4934;
  margin-right: 5px;
}

#memory:hover {
  background-color: #c66829;
  margin-right: 5px;
}

#disk {
  background-color: #964b00;
}

#backlight {
  background-color: #90b1b1;
}

#network {
  background-color: #687f70;
}

#network:hover {
  background-color: #8f9880;
}

#network.disconnected {
  background-color: #f53c3c;
}

#pulseaudio {
  background-color: #46848c;
}

#pulseaudio:hover {
  background-color: #87a1a3;
}

#pulseaudio.muted {
  background-color: #83a598;
}

#wireplumber {
  background-color: #fff0f5;
  color: #282828;
}

#wireplumber.muted {
  background-color: #f53c3c;
}

#custom-media {
  background-color: #fb4934;
  min-width: 100px;
}

#custom-media:hover {
  background-color: #cc241d;
  min-width: 100px;
}

#custom-media.custom-spotify {
  background-color: #66cc99;
}

#custom-media.custom-vlc {
  background-color: #ffa000;
}

#temperature {
  background-color: #ffa000;
}

#temperature.critical {
  background-color: #eb4d4b;
}

#tray {
  background-color: #c66829;
}

#tray:hover {
  background-color: #fe8028;
}

.active:hover ~ #tray {
  background-color: #d79921;
}

#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
  background-color: #eb4d4b;
}

#idle_inhibitor {
  background-color: #2d3436;
}

#idle_inhibitor.activated {
  background-color: #ecf0f1;
  color: #2d3436;
}

#mpd {
  background-color: #66cc99;
  color: #2a5c45;
}

#mpd.disconnected {
  background-color: #f53c3c;
}

#mpd.stopped {
  background-color: #90b1b1;
}

#mpd.paused {
  background-color: #51a37a;
}

#language {
  background: #c66829;
  min-width: 16px;
}

#language:hover {
  background: #fe8028;
  min-width: 16px;
}

#keyboard-state {
  background: #97e1ad;
  color: #000000;
  min-width: 16px;
}

#keyboard-state > label {
  padding: 0 5px;
}

#keyboard-state > label.locked {
  background: rgba(0, 0, 0, 0.2);
}

#scratchpad {
  background: rgba(0, 0, 0, 0.2);
}

#scratchpad.empty {
  background-color: transparent;
}

#privacy {
  padding: 0;
}

#privacy-item {
  padding: 0 5px;
  color: white;
}

#privacy-item.screenshare {
  background-color: #cf5700;
}

#privacy-item.audio-in {
  background-color: #1ca000;
}

#privacy-item.audio-out {
  background-color: #0069d4;
}

#custom-nvidia {
  background-color: #46848c;
  min-width: 110px;
  margin-right: 5px;
}

#custom-power {
  background-color: #ebdbb2;
  color: #282828;
  padding: 0;
  margin-right: 10px;
}

#custom-power:hover {
  background-color: #282828;
  color: #ebdbb2;
}
